.NavBar {
    background-color: #008B8B;
    border: 1px solid #dadadf;
}
  
.NavLink {
    padding: 5px;
}

.Active i {
    background: #333;
    color: #fff;
}

.NavBarBrand{
    color: #cfced3;
}

  /* @media screen and (min-width: 500px) {
  .navbar-light .navbar-toggler {
    color: white;
    border-color: white;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

  } */