/* body{
    margin: 0;
    padding: 0;
}

.TasksTitle {
    cursor: pointer;
}

.TasksUrgent {
    padding: 5px 8px;
    border: 1px solid rgb(13, 159, 204);
}

.TabList > span {
    padding: 5px 8px;
    border: 1px solid rgb(13, 159, 204);
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.TabList > span.active {
    background-color: #008B8B;
    color: #fff;
} */


.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }